---
title: GurgCorp Home Page
layout: default
---

<div class="">

    <h2>Hello, i am Greig and this is my website. Its simple and straight to the point.</h2>

    

    
    <a> Blog Posts</a>
    <ul>
        {% for post in site.posts %}
          {% if post.categories contains "blog" %}
            <li>
              <a> {{ post.date | date: "%-d %B %Y" }} - </a>
              <a href ="{{ post.url }}"> {{ post.title }} </a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>

    <a> Portfolio Links</a>
    <ul>
      <li>
        {% for post in site.posts %}
          {% if post.categories contains "portfolio" %}
            <li>
              <a href ="{{ post.url }}"> {{ post.title }} </a>
            </li>
          {% endif %}
        {% endfor %}
      </li>
    </ul>


    <div> 
    </div>

</div>

