---
title: GurgCorp Home Page
layout: default
---


<div class="">

    <h4> Portfolio Links</h4>
    <ul>
      <li>
        <a href="https://github.com/GreigHuth/os-coursework"> Operating Systems Coursework</a>
      </li>
      {% for post in site.posts %}
        {% if post.categories contains "portfolio" %}
          <li>
            <a href ="{{ post.url }}"> {{ post.title }} </a>
          </li>
        {% endif %}
      {% endfor %}

      <li>
        <a href ="https://sdpgroup16.wixsite.com/bookbot">System Design Project - BookBot's Website</a>
      </li>
      <li>
        <a href ="https://github.com/GreigHuth/nugam">Unnamed Exploration focused 2D Pico-8 game (Work In Progress)</a>
      </li>
      <li>
        <a href ="https://github.com/GreigHuth/nugam">Unnamed top-down shooter Pico-8 game inspired by Nuclear Throne  (Work In Progress)</a>
      </li>
      <li>
        <a href="https://github.com/GreigHuth/DiscordGameTracker">Discord Game Tracker Bot</a>
      </li>
      
    </ul>

  
  </div>