<footer>
    <div style="font-size: small; text-align: center;">
        <a><i>"Even those born unwise, need not resign to perish empty." - Tim "Ziggurat" Rogers </i></a>
    </div>

    <div style="font-size: small; text-align: center; padding-top: 5px;">
        <a style="color: grey"><i>
            Copyright © 1997 GurgCorp. The Gurg Zone<sup>TM</sup> and Gurg<sup>TM</sup> are registered trademarks and both owned wholly by GurgCorp.Inc. All rights reserved.
        </i></a>
    </div>
    </div>
</footer>
