---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>

<!-- Header-->
<div style ="padding-left: 50px; padding-right: 50px;"> 

  <div style="text-align: center">
    <h2> Official Nintendo Magazine (ONM) Retrospective Series</h2>
    <!-- <h5> Officially Certified, Compatible with and Married to: Mozilla Firefox Reader View.</h5> -->
    <h5><i>{{ page.quip }}</i> </h5>
  </div>

  <div style ="padding-left: 50px; padding-right: 50px;"> 

    <h3><i>{{ page.heading }}</i></h2>
    <h3> Issue {{ page.issue }} {{ page.release }}</h2>
    <h3> High Resolution Scans --> (COMING SOON)</h3>
  

  </div>
</div>

<div class="onm-archive">
  {{ page.intro }}
</div>

<figure>
  <img src="{{ page.header_img }}" style="height: 550px; width: auto; display: block; margin:auto; padding-bottom: 0px;">
  <b><figcaption></figcaption></b>
</figure>

<div class="onm-archive">
  {{ content }}
</div>
{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}